boto3==1.28.62
botocore==1.31.62
tabula-py==2.8.2
faiss-cpu==1.7.4
PyMuPDF==1.23.8
requests==2.31.0
numpy==1.24.3
pandas==2.0.3
opencv-python==4.8.1.78
pytesseract==0.3.10
sentence-transformers==2.2.2
Pillow==10.0.1
tqdm==4.66.1
langchain-text-splitters==0.0.1
langchain-aws==0.1.0
transformers==4.35.0
torch==2.1.0